/* 
    MIGRATE TO SCSS
*/

/* html * {
  font-family: Rockwell, "Courier New", Courier, Georgia, Times,
    "Times New Roman", serif;
  text-decoration: none;
} */
/* NAVBAR */
nav {
  width: 100vw;
  background-color: #373a3c;
  padding: 0px 10px;
}
.navbarAvatar {
  font-size: 50px;
}
.navbarX {
  font-size: 66px;
  margin-right: 5px;
}
.dropdownMenu {
  position: absolute;
  left: auto !important;
  top: auto !important;
  margin-top: -0.1rem;
  right: 0px;
  z-index: 9999;
  display: block;
  border: 2px solid #707070;
  border-top: none;
  border-radius: 0px 0px 6px 6px;
  background-color: #373a3c;
}
.dropdownText {
  font-size: 1.2rem;
}
.dropdownText:hover {
  background-color: #ccc;
}

.searchMobile {
  display: none;
  font-size: 35px;
  color: black;
  border: none;
  background: transparent;
}
.searchMobile:hover {
  color: #707070;
}
.navbarHubIconMobile {
  display: none;
  color: black;
  font-size: 50px;
}
.navbarHubIconMobile:hover {
  color: #707070;
}
.searchMobile:before,
.searchMobile:focus,
.searchMobile:after,
.navbarAvatarButton:before,
.navbarAvatarButton:focus,
.navbarAvatarButton:after {
  outline: none !important;
}

@media (max-width: 844px) {
  .navbarCollapse {
    width: 100vw;
    justify-content: space-evenly;
  }
  .navbarHubIcon {
    display: none;
  }
  .navbarHubIconMobile {
    display: inline;
  }
}

@media (max-width: 720px) {
  nav input[type="text"] {
    display: none;
  }
  nav .search-container button {
    display: none;
  }
  nav .search-box input[type="text"] {
    display: none;
  }
  nav .search-box button {
    display: none;
  }
  nav .search-box {
    display: none;
  }
  .searchMobile {
    display: inline;
  }
}

/* BodyQuestion */
.BodyQuestion-CardBody {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  padding-left: 2%;
  margin-top: 15px;
  background-color: #373a3c;
  color: #ffffff;
}
.BodyQuestion-Top {
  margin-top: 20px !important;
}
.BodyQuestionText {
  font-weight: "bold";
  color: #ffffff;
}
.BodyQuestion-hastag {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding-left: 2%;
  padding-top: 1%;
  color: #ffffff;
  background-color: #6c757d;
}

.BodyQuestion-CardBody {
  background-color: #373a3c;
}
.BodyQuestion {
  background-color: #2a2b2d;
}

/* QuestionHead */
.wrap-text {
  word-wrap: break-word;
}
/* Question Answer */
textarea {
  resize: none;
}
.answertext {
  color: #ffffff;
}
/* Register Login */
h1.title {
  font-size: 50px;
  font-family: "Passion One", cursive;
  font-weight: 400;
}

hr {
  width: 10%;
  color: #fff;
}

.form-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
  font-size: 11px;
  padding-top: 3px;
}

.main-login {
  background-color: #fff;
  /* shadows and rounded borders */
  /* border-style: ridge; */
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.main-center {
  margin-top: 100px;
  margin: 0 auto;
  max-width: 330px;
  padding: 40px 40px;
}

.login-button {
  margin-top: 5px;
}

.login-register {
  font-size: 11px;
  text-align: center;
}
/* tags */
.tags-input {
  background: none;
  color: white;
  border: none;
  min-width: 0;
  width: 50px;
  font-size: 0.75rem;
}
.tags-input::placeholder {
  color: rgba(255, 255, 255, 0.788);
}
.tags-button-remove {
  border: none;
  margin-left: 2px;
}
.tags-button-plus {
  border: none;
  margin-left: 2px;
  padding-top: 0.55rem !important;
}
.tags-margin {
  margin-right: 10px;
  align-items: center;
}

.divpartsubject {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0.35rem;
  padding-bottom: 0%;
  border-radius: 5px;
  background-color: #373a3c;
  color: #ffffff;
}

.subjectlistIndicator {
  color: #17a2b8;
}

.divpartsubject:hover {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0.35rem;
  padding-bottom: 0%;
  border-radius: 5px;
  background-color: #4c4c50;
  color: #ffffff;
}

.nav-pills {
  top: 40px;
  position: fixed;
  margin-left: 2.5%;
}

.sidenavcol {
  background-color: #2a2b2d;
}

.navbar-textcolor {
  color: #17a2b8;
  font-size: 2vh;
}
.navbar-textcolor:hover {
  color: #4c4c50;
}

.expertPendingBox {
  background-color: #4c4c50;
  padding-top: 0.4rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-radius: 5px;
  height: 40px;
  margin-bottom: 10px;
}

.expertPendingBox:hover {
  background-color: #414142;
  padding-top: 0.4rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  border-radius: 5px;
}

.hoverDetails {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.hoverDetails .hoverDetailstext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the hoverDetails */
  position: absolute;
  z-index: 1;
}

.hoverDetails:hover .hoverDetailstext {
  visibility: visible;
}
