html,
body {
  color: $text-color;
  background-color: $body-bg-color;
}

// default modal background color. bootstrap bg-dark
.modal .modal-content {
  background-color: #343A3F;
}

.Clickable {
  cursor: pointer;
}
