// Colors
$white: #FFFFFF;
$dark: #2A2B2D;
$lighterDark: #373A3C;
$secondaryHover:  #464B50;

// Bootstrap Colors
@import "node_modules/bootstrap/scss/bootstrap";

$theme-colors: (
  "primary": #373A3C,
  "secondary": #6C757D,
  "info": #17A2B8,
  "bg-dark": #343A3E 
);