.foe {
    margin: 0 auto 0 auto;
    width: 95%;

    .title {
        width: 100%;
        border-bottom: 1px solid $text-color;
        margin: 0 auto 0.4rem auto;
        text-align: center;
    }
    
}