.questionPageAvatar {
    width: 40px;
    height: 40px;
    margin-right: 0.5rem;
    border-radius: 20px;
}

.questionHead {
    width: 60vw;
    margin-top: 0.5rem;

    .questionUsername {
        font-size: 1.5rem;
    }

    h1 {
        color: $tertiary-color;
        font-weight: bold;
        font-size: 3.5rem;
        overflow: hidden;
        max-height: 80px;
    
        &::after {
            content:"";
            display: inline-block;
            height: 0.5em;
            vertical-align: top;
            width: 100%;
            border-top: 1px solid $secondary-color;
        } 
    }
}

.answerHead{
    width: 60vw;
    margin-top: 0.5rem;

    h1 {
        color: $tertiary-color;
        font-weight: bold;
        font-size: 3.5rem;
        overflow: hidden;
        max-height: 80px;
    
        &::after {
            content:"";
            display: inline-block;
            height: 0.5em;
            vertical-align: top;
            width: 100%;
            border-top: 1px solid $secondary-color;
        } 
    }

    .answerBody {
        background-color: $primary-color;
        width: 55vw;
        margin-bottom: 1rem;
    }

    .answerFooter {
        background-color: $secondary-color;
        display: flex;
        padding: 5px;
        justify-content: space-between;

        .answerUsername {
            font-size: 1.7rem;
            margin-bottom: 0px;
        }

        .answerPosted {
            margin-top: 0.8rem;
            margin-bottom: 0px;
        }
    }
}
