.questionPageAvatar {
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
  border-radius: 50%;
}

.questionHead {
  width: 71vw;
  margin-top: 0.5rem;

  .errorVoting {
    color: red;
  }

  .questionHeadDiv {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    max-height: 80px;
    border-bottom: 1px solid $secondary-color;
    margin-bottom: 1rem;

    h1 {
      color: $tertiary-color;
      font-weight: bold;
      font-size: 3.5rem;
    }

    .flagIcon {
      cursor: pointer;
      margin: 2rem 2px 0 0;
    }
  }
  .votingDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .votingArrow {
      cursor: pointer;
      font-size: 1.4rem;
      margin: 0px 2px;
    }
    .votingArrowVoted {
      cursor: pointer;
      font-size: 1.4rem;
      margin: 0px 2px;
      color: red;
    }
    .votingArrowDisabled {
      cursor: pointer;
      font-size: 1.4rem;
      margin: 0px 2px;
      color: black;
    }
   
   

    p {
      padding-top: 5px;
      margin-right: 3px;
      font-size: 1rem;
    }
  }


  .questionUsername {
    color: $text-color;
    text-decoration: none;
    font-size: 1.5rem;
    margin-bottom: 0px;

    &:hover {
      cursor: pointer;
      color: $secondary-color;
    }
  }
}

.answerHead {
  width: 71vw;
  margin-top: 0.5rem;

  h1 {
    color: $tertiary-color;
    font-weight: bold;
    font-size: 3.5rem;
    overflow: hidden;
    max-height: 80px;

    &::after {
      content: "";
      display: inline-block;
      height: 0.5em;
      vertical-align: top;
      width: 100%;
      border-top: 1px solid $secondary-color;
    }
  }

  .answerBody {
    background-color: $primary-color;
    // margin-bottom: 1rem;

    .votingDiv {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .votingArrow {
        cursor: pointer;
        font-size: 1.4rem;
        margin: 0px 2px;
      }
      .votingArrowVoted {
        cursor: pointer;
        font-size: 1.4rem;
        margin: 0px 2px;
        color: red;
      }
      .votingArrowDisabled {
        cursor: pointer;
        font-size: 1.4rem;
        margin: 0px 2px;
        color: black;
      }

      p {
        padding-top: 4px;
        margin-right: 8px;
        font-size: 1rem;
      }
    }
    .errorVoting {
      color: red;
    }
    .endorseHasbeenEndorsed {
      color: rgba(255, 255, 255, 0.796)
    }

    .flagDiv {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .flagIcon {
        cursor: pointer;
     //   margin: 2rem 2px 0 0;
      }
      .endorseIcon {
        cursor: pointer;
      }
      .endorseIconSelected {
        cursor: pointer;
        color: red;
      }

    }

    p {
      font-size: 1rem;
    }
  }

  .answerFooter {
    background-color: $secondary-color;
    display: flex;
    padding: 5px;
    justify-content: space-between;

    .answerUsername {
      color: $text-color;
      text-decoration: none;
      font-size: 1.7rem;
      margin-bottom: 0px;

      &:hover {
        cursor: pointer;
        color: $hover-color;
      }
    }

    .answerPosted {
      margin-top: 0.8rem;
      margin-bottom: 0px;
    }
  }
}

.giveAnAnswer {
  max-height: 75px;
  margin-top: 0px;
}

.giveAnAnswerExtended {
  margin-top: 0px;
}

.giveAnAnswerArrows {
  font-size: 2rem;
}

.cursorPointer {
  cursor: pointer;
}

.questionBodyUsername {
  color: #1ecee9;

  &:hover {
    color: #1ecee971;
  }
}