.WhiteLinks {
    text-decoration: underline;
    cursor: pointer;
    color: $text-color;
    &:hover {
        color: darken($text-color, 25%);
    }

    @media (max-width: 767px) {
        // on mobile
        font-size: 2.3vw;
    }
}