/* FilterButtons */
.btnSmall {
    margin-top: 25px;
    margin-right: 10px;
    border: none;
    min-width: 70px;
  }

.btnBig {
    margin-top: 25px;
    margin-left: 10px;
    border: none;
    min-width: 100px;
  }
  