.questionHead{
    width: 60vw;
    margin-top: 3rem;
}

.questionTitle {
    color: #707070;
    font-weight: normal;
    font-size: 3rem;
    text-decoration: underline;
    &::before {
        font-weight: normal;
        font-size: 3.5rem;
        margin-right: 2rem;
        content: "Q ";
    }
}

.questionContent {
    margin-left: 6rem;
    align-self: flex-end;
    font-size: 1.2rem;
    word-wrap: normal;
}

.questionAvatar {
    width: 80px;
    height: 80px;
    margin-right: 0.5rem;
    border: 1px black solid;
}

.questionUsername {
    font-size: 1.5rem;
    font-weight: bold;
    color: #707070;
}

.questionButton {
    font-size: 1.5rem;
    padding: 0 1rem;
    background: #fff;
    border: 1px solid #707070;
    border-radius: 4px;
    color: #707070;

  &:hover {
    color: #707070;
    background: #ccc;
  }
}

.answerHead {
    width: 60vw;
    margin-top: 0.5rem;

    h1 {
        color: #707070;
        font-weight: normal;
        font-size: 3.5rem;
        overflow: hidden;
    
        &::after {
            content:"";
            display: inline-block;
            height: 0.5em;
            vertical-align: bottom;
            width: 100%;
            margin-right: -100%;
            margin-left: 10px;
            border-top: 1px solid black;
        } 
    }
}

.asnwerDiv {
    margin-left: 3rem;
    margin-bottom: 2rem;
    border-bottom: 1px black solid;

    .answerUsername {
        font-size: 1.4rem;
        font-weight: normal;
        color: #707070;

        .expert {
            font-weight: bold;
        }
    }

    .checkmark {
        align-self: baseline;
        margin: 5px 0 5px 1rem;
        font-size: 2rem;
        color: orange;
    }

    .answerTagExpert {
        margin-left: 1rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: #707070;
    }

    .answerTagUser {
        margin-left: 1rem;
        font-size: 1.3rem;
        font-weight: bold;
        color: #707070;
    }

    .arrows {
        margin-right: 0.2rem;
        font-size: 2.5rem;
        color: #a9a9a9;

        &:hover {
            color: #707070;
            cursor: pointer;
        }
    }

    .answerContent {
        margin-top: -2rem;
        margin-left: 6rem;
        margin-bottom: 1rem;
    }
    
    .editIcons {
        margin-top: 150%;

        .icon {
            font-size: 2.5rem;
            color: #a9a9a9;

            &:last-child {
                margin-left: 1rem;
            }
    
            &:hover {
                color: #707070;
                cursor: pointer;
            }
        }
    }

    h4 {
        font-size: 1.6rem;
        color: #707070;
    }

    p {
        color: #707070;
    }
}